/* Apply color style to table header cells */
.MuiTableCell-head {
  background-color: #0c4850 !important;
  color: #fff !important;
}

/* Apply font size style to table body cells */
.MuiTableCell-body {
  font-size: 14px !important;
}

/* Apply color style to buttons */
.MuiButton-root {
  background-color: #4B9690 !important;
  color: #fff !important;
}

/* Indicator color for selected tab */
.MuiTabs-indicator {
  background-color: #4B9690 !important;
}

/* Text color for selected tab */
.Mui-selected {
  color: #4B9690 !important;
}

/* Apply color style to AppBar */
.MuiAppBar-root {
  background-color: #4B9690 !important;
  color: #fff !important;
}