/* InteractiveMap.js  */

.interactive-map-container {
  display: flex;
  height: 100vh;
}

.map-container-with-sidebar {
  flex: 1;
  height: 100%;
}

.map-container-full {
  flex: 100%;
  height: 100%;
}

/* Admin Page */
/* AdminDashboard.js */

.admin-dashboard-container {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
}

.admin-dashboard-content {
  flex: 1;
  overflow-x: auto;
  padding: 20px;
}

/* adminSidebar.js */
.admin-sidebar-container {
  position: relative;
  width: 100%;
  background-color: #f0f0f0;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

/* Styles for larger screens */
@media (min-width: 600px) {
  .admin-dashboard-container {
    flex-direction: row; /* Sidebar next to content on larger screens */
    height: 100vh;
  }

  .admin-sidebar-container {
    width: 200px; /* Fixed sidebar width on larger screens */
  }

}
/* OperatorProfile.js */

.operator-profile-tabs {
  padding-bottom: 16px;
}

/* Sidebar.js */
.sidebar-container {
  position: relative;
  width: 35%;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-content {
  margin-bottom: auto;
}

.tabs-margin-top {
  margin-top: 20px;
}

.sidebar-typography-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* popup.js */

.popup-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 16px;
  left: 16px;
  z-index: 1000;
  background: white;
  border-radius: 8px;
}

.popup-typography-padding {
  padding-right: 8px;
}

/* map.js */
.map-container-full-height {
  flex: 1;
  height: 100vh;
}

/* login.js */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  margin-top: 20px;
}

.login-page-flex-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}


/* Tables */
/* Apply color style to table header cells */
.MuiTableCell-head {
  background-color: #0c4850 !important;
  color: #fff !important;
}

/* Apply font size style to table body cells */
.MuiTableCell-body {
  font-size: 14px !important;
}

/* Apply color style to buttons */
.MuiButton-root {
  background-color: #4B9690 !important;
  color: #fff !important;
}

/* Indicator color for selected tab */
.MuiTabs-indicator {
  background-color: #4B9690 !important;
}

/* Text color for selected tab */
.Mui-selected {
  color: #4B9690 !important;
}

/* Apply color style to AppBar */
.MuiAppBar-root {
  background-color: #4B9690 !important;
  color: #fff !important;
}